body {

    position: relative;
    min-width: 1280px;

    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
   /* background: white; */
}

 .inner-page {

    background-image: url("/img/sedona-index.jpg");
    background-position: top center;
    background-repeat: no-repeat;
} 

.inner-page-catalog {
    background-image: url("/img/sedona-hotels.jpg");
    background-position: top center;
    background-repeat: no-repeat;
} 

h2 {
    line-height: 1.2;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
.position {
    position: relative;
    /*background-image: url("../img/background_photo.jpg");*/
    width: 1200px;
    height: 573px;
}

.header-logo {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 40px;
}

.main-logo {
    display: block;
    margin: 0 auto;
    width: 459px;
    height: 353px;
    padding: 74px;
    padding-bottom: 21px;
}
.polygon {
    margin-top: 11.2px;
   
} 
.main-navigation {
   /* background: white;*/
}

ul.site-navigation  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 72px;
}

li.site-navigation {
    display: block;
    padding: 15px 0;
    line-height: 1.8;
    min-width: 239px;

    vertical-align: top;
}

.navigation-wrapper {
    width: 100%;
    margin-bottom: 76px;
    
    min-height: 56px;
}

nav li:nth-child(2) {
    text-align: left;
    margin-right: 90px;
}

nav li:nth-child(3) {
    text-align: right;
    letter-spacing: 0,018em;
}

nav li:nth-child(4) {
    text-align: right;
    letter-spacing: normal;
}

.site-navigation a,
.site-navigation {

    font-weight: bold;
    color: black;
    text-decoration: none;
    list-style: none;

}
.site-navigation a:hover,
.site-navigation a:focus {
    color:  #82b6d4;
}
.site-navigation a:active {
    color: #cbcbcb;
}

.current a {
    margin: 40px;
    font-weight: bold;
    color: #766357;
    text-decoration: none;
    list-style: none;
}

.main-info {
    font-size: 21px;
    line-height: 1.2;
    font-weight: bold;
 
    color: #000000;
    text-align: center;
 
    margin-top: 50px;
    margin-left: 380px;
    margin-right: 380px;
    margin-bottom: 33px;
}
.main-info +p {
    letter-spacing: 0,004em;
    text-align: center;
    margin-bottom: 55px;
}

.block-1 {
    display: flex;
    flex-wrap: wrap;
}

.block-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 2px;
    padding-bottom: 25px;
}

.block-3 {
    display: flex;
    flex-direction: row-reverse;
}

.block-4 {
    display: flex;
    flex-direction: row;
   /* background-color: #eeeeee;*/
}

.interest {
    padding-top: 24px;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

.main-interest {
    text-align: center;
    margin: 0 auto;
}

.search-hotel {
    text-align: center;
    line-height: 1.5;

    margin-bottom: 52px;
}

.head-white {
    font-size: 21px;
    line-height: 21px;

    width: 210px;
    margin-top: -3px;
    margin-left: 35px;
    
}
.sedona {
    margin-top: 18px;
    line-height: 1.6;
}

.info {
    font-size: 21px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;

    margin-top: 24px;
}

.leaving {
    width: 252px;
    height: 84px;
    line-height: 21px;
}

.food {
    max-width: 290px;
    height: 79px;
    line-height: 21px;
    letter-spacing: 0,005em;

    margin-top: 23px;
}

.presents {
    max-width: 273px;
    height: 80px;
    line-height: 21px;
}

.head-bridge {
    font-size: 21px;
    line-height: 22px;

    width: 151px;
    margin-top: -3px;
    margin-left: 77px;
}
.head-bridge-text {
    margin-top: 25px;
    
}

.reasons-list-white-sedona {

    color: white;
    text-align: center;
    /*background-color: #81b3d2; */
    width: 280px;
    height: 140px;

    line-height: 26px;

    padding-top: 48px;
    padding-left: 60px;
    padding-bottom: 64px;
    padding-right: 60px;
}

.reasons-picture-house {
    background-image: url("../img/housemain.png");
    width: 800px;
}

.reasons-picture-bridge {
    background-image: url("../img/bridge.png");
    width: 800px;
}

.reasons-list-white-bridge {
    color: white;
    text-align: center;
   /* background-color: #81b3d2;*/
    width: 303px;
    height: 140px;

    padding-top: 49px;
    padding-left: 48px;
    padding-bottom: 65px;
    padding-right: 49px;
}

.reasons-list-leaving {
    color: black;
    text-align: center;

    padding-top: 60px;
    padding-left: 14px;
}

.reasons-list-food {
    color: black;
    text-align: center;

    padding-top: 60px;
    padding-left: 5px;

}
.reasons-list-present {
    color: black;
    text-align: center;

    padding-top: 56px;
    
}

.reasons-list-gray {
    float: left;
    width: 400px;
    color: black;
    text-align: center;
    padding: 30px 70px 40px;
}

.info-area {
    width: 150px;
    margin-top: 19px;
    margin-bottom: 24px;
    margin-left: 55px;

    line-height: 22px;
}

.info-road {
    width: 150px;
    margin-top: 19px;
    margin-bottom: 24px;
    margin-left: 56px;

    line-height: 21px;
}

.info-tourist {
    width: 150px;
    margin-top: 18px;
    margin-bottom: 24px;
    margin-left: 55px;

    line-height: 21px;
}

.reasons-list-gray-area {
    width: 255px;
    padding-top: 8px;
    line-height: 21px;
}

.reasons-list-gray-road {
    width: 265px;
    padding-top: 8px;
    line-height: 21px;
}

.reasons-list-gray-tourist {
    width: 255px;
    padding-top: 8px;
    line-height: 21px;
}

.visit {
    font-weight: bold;
    color: black;
}

.social-button {
    list-style: none;
}

/* каталог */

.filter {
    display: flex;
    flex-direction: row;
    /*background: url("../img/filter_background.png") no-repeat center;*/
    width: 1200px; 
}

.checkboxes-infrastr {
    padding-left: 73px;
    border: none;
}
.checkboxes-infrastr label {
    margin-left: -3px;
}
.checkboxes-type {
    padding-left: 103px;
    border: none;
}

.filter-option {
    margin-bottom: 23px;
}

.filter-option label {
    position: relative;
  
    display: block;
  
    cursor: pointer;
    user-select: none;
  }

.checkboxes-type input[type="checkbox"],
.checkboxes-infrastr input[type="checkbox"] {
    display: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -42px;
  
    width: 22px;
    height: 22px;
  
    background-image: url("../img/checkbox-off.svg");
  }
  
.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: 0;
    left: -42px;

    width: 12px;
    height: 12px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
  }

.check-head {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: white;

    margin-top: 26px;
    margin-left: -4px;
    margin-bottom: 4px;
}

.filter ul {
    list-style: none;
    line-height: 1.6;
    color:white;
}

.filter-range {
    width: 314px;
    margin-top: 28px;
    margin-left: 336px;
    margin-bottom: 31px;

    color: #ffffff;
    text-transform: uppercase;
  }
  
.filter-range-title {
    margin-bottom: 10px;
  
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
  
.price-controls {
    position: relative;
    
    height: 32px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}
  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 63px;
}
  
.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    background: #1c4f80;
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-left: 80px;
    padding: 9px 36px;
  
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}

.filter-button {
    color: white;
    background: transparent;
}

.search-result {
    color: black;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.6;

    margin-top: 25px;
    padding-bottom: 6px;
    padding-right: 48px;
}

.sorting {
    font-size: 12px;
    color: black;
    line-height: 1.5;
    text-align: center;

    margin-top: 36px;
    padding-bottom: 12px;
    padding-right: 38px;
}

.sorting-item {
    color: #d0d0d0; 
    font-size: 12px;
    line-height: 1.5;

    padding-right: 30px;
    text-decoration: none;
}

.sorting-type {
    margin-top: 34px;
}

.icons {
    margin-top: 36px;

    padding-left: 430px;
    padding-bottom: 12px;
    padding-right: 38px;
}

.up {
    background-image: url("../img/icon-up-dir.svg");
    width: 11px;
    height: 10px;
    background-color: #cacaca;
}

.down {
    background-image: url("../img/icon-down-dir.svg");
}

.sorting-item-current {
    font-size: 12px;
    color: #81b3d2; 
    text-decoration: none;
    line-height: 1.5
}

.sorting-type a:hover,
.sorting-type a:focus {
 
    border-bottom: 1px dashed;
    color: #81b3d2; 

    line-height: 1.5;
}

.sorting-type a:active {

    color: black;
}

.hotel-name {
    padding-top: 7px;
    margin-bottom: -5px;
}

.type-hotel {
    display: inline-block;
    min-width: 116px;

    padding-top: 14px;
    padding-bottom: 12px;
}

.type-price {
    padding-top: 14px;
}

.main-footer .container {


    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    height: 120px;
    
    justify-content: space-between;

    background: white;
    opacity: 0.7;
}

.result {
    display: flex;
    flex-direction: row;
    margin-left: 72px;
}

.amara-pic,
.desert-pic,
.poco-pic {
    margin-top: 30px;
    margin-left: 72px;
    margin-bottom: 30px;  
    margin-right: 30px;
}

.hotels {
    display: flex;
    flex-direction: row;

    border-top: #e5e5e5 solid 1px;
    border-bottom:  #e5e5e5 solid 1px;

}

.block-type {
    display: flex;
    flex-direction: row;
}

.rating {
    margin: 0;
    padding: 5px 13px 5px 13px;
 
    color: #666;
    text-decoration: none;
    text-align: center;
    background-color: #f2f2f2;
}

.block-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.star {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 5px;
    margin-bottom: 45px;
    background-image: url("../img/star.svg");

    margin-top: 30px;
}

.stars-rating {
    text-align: right;
    margin-left: 525px;
}

.more {
    background-color: #81b3d2;
    width: 110px;
    height: 27px;

    text-align: center;
    color: white;
    line-height: 1.7;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;

    margin-right: 6px;
}


.booking {
    background-color: #766357;
    width: 142px;
    height: 27px;

    text-align: center;
    color: white;
    line-height: 1.7;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;

}

.main-table h2:hover,
.main-table h2:focus {
    color: #82b6d4;
    cursor: default;
}

.main-table h2:active {
    color: #cbcbcb;
}

.main-table .more:hover,
.main-table .more:focus {
    background-color: #669fc1;
    cursor: default;
}
.main-table .more:active {
    background-color: #5497c0;
    color:#cbcbcb;
}

.main-table .booking:hover,
.main-table .booking:focus {
    background-color: #5f4d42;
    cursor: default;
}
.main-table .booking:active {
    background-color: #4f3c2f;
    color:#cbcbcb;
}
/*форма поиска по датам */

.modal-window-show {
    display: block;
}

.modal-window {
    position: absolute;
    top: 1990px;
    left: 50%;
    
    width: 465px;
    height: 395px;

    padding-left: 55px;
    padding-right: 55px;
    margin-top: 85px;
    color: #000;
    font-weight: 700;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

    border: none;
}

.search {

    padding-top: 55px;
}

.search-hotels-sedona {
    width: 568px;
    height: 86px;

    background-color: #766357;
    color: white;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    border: none;
    cursor: pointer;
   
    margin-left: 316px;
}

.checkin,
.checkout {
    width: 326px;
    height: 38px;
    background-color: #f2f2f2;

    color: black;
    padding: 0 15px;
    background-color: #f2f2f2;
    border: none;

    background-image: url("../img/calendar.svg");
    background-position: right;
    background-repeat: no-repeat;

}

.modal-window label {
    display: inline-block;
    width: 95px;

    padding-bottom: 29px;
}

.modal-window label[for="children"] {
    width: 78px;
    text-align: right;
    padding-right: 25px;
}

.number-adilts,
.number-children {
    width: 84px;
    height: 38px;

    padding: 0 15px;
    margin-bottom: 55px;

    background-color: #f2f2f2;
    border: none;
}

.search-button {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;

    width: 458px;
    height: 58px;

    text-align: center;
    color: #fff;
    background: #8dbad6;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.map {
    background: url("../img/map.png");
    width: 1200px;
    height: 594px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 48px;
}

.social-tw {
    background-color: #81b3d2;
    margin-right: 6px;

    padding-top: 17px;
    padding-left: 15px;
    padding-bottom: 16px;
    padding-right: 14px;
}

.social-fb {
    background-color: #81b3d2;
    margin-right: 6px;

    padding-top: 13px;
    padding-left: 17px;
    padding-bottom: 13px;
    padding-right: 17px;
}

.social-yut {
    background-color: #81b3d2;

    padding-top: 16px;
    padding-left: 13px;
    padding-bottom: 16px;
    padding-right: 13px;
}

.site-by {
    display: flex;
    flex-direction: row;

    justify-items: center;

    margin-right: 8px;
}
